[buildout]
develop = .

unzip = true
newest = false
versions = versions
index = http://mirrors.aliyun.com/pypi/simple/
parts = app
extends = versions.cfg
update-versions-file = versions.cfg
extensions = buildout.eggscleaner
old-eggs-directory = ${buildout:directory}/old-eggs/

[app]
recipe = zc.recipe.egg
interpreter = python
eggs = demo
